<!DOCTYPE html>
<html>
<head>
    <title>My Search Engine</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="content">
        <form method="POST">
            <input type="text" name="text" placeholder="Enter text...">
            <input type="submit" value="Search">
        </form>
        {% if search_result %}
            <div class="card">
                <img src="{{ search_result['logo_url'] }}" 
                     onerror="this.onerror=null; this.src='https://i.ibb.co/bKMkTMj/default.png';"
                     alt="{{ search_result['company_name'] }} logo" 
                     class="logo">
                <h2>{{ search_result['company_symbol'] }} <span>{{ search_result['company_name'] }}</span></h2>
                <p>{{ search_result['opinion'] }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>